@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Inter&family=Lato:wght@300;400;700;900&display=swap');

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* ---      Header       --- */

/* --- Navigation Banner --- */

header {
  box-shadow: 0 8px 0 0 rgb(16, 11, 11);
  width: 100vw;
}

.nav-ban {
  align-items: center;
  height: 3.5vh;
  display: flex;
  justify-content: flex-end;
  background-color: #3c3a39;
}

header .nav-ban ul {
  display: flex;
  gap: 2vw;
  cursor: pointer;
}

header .nav-ban ul li {
  list-style: none;
}

header .nav-ban ul li a {
  color: white;
  text-decoration: none;
}

/* --- Navigation Internal ---- */

.nav-int {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.5vh;
  width: 100%;
  padding-right: 15vw;
}

header .nav-int ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  flex: 1;
  visibility: hidden;
}

.nav-int img {
  width: 50%;
  margin-left: 20vw;
  flex: 1;
  cursor: pointer;
}

header .nav-int ul li {
  list-style: none;
}

header .nav-int ul li a {
  color: gray;
  text-decoration: none;
  font-weight: 700;
}

header .nav-int ul li a:hover {
  color: #c66866;
}

.a-ni-item6 {
  border: #cc3f26 solid 5px;
  padding: 0.5vw;
}

.hamburger {
  flex: 1;
  margin-left: 5vw;
}

.bar {
  display: block;
  width: 7.5vw;
  height: 0.7vh;
  margin: 0.6vh auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(78, 76, 76);
}

/* ---        HOME      --- */
.home {
  background-color: #e6e6ea;
  display: flex;
  flex-direction: column;
  padding-top: 13vh;
  background-image: url(img/Background-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 10vw;
  background-position-y: -18vh;
}

.cont-hello {
  margin-left: 3.5%;
}

.cont-mptitle h5 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}

.home .cont-hello h5 {
  color: #f3482a;
  font-size: 18px;
  line-height: 24px;
}

.cont-homeTitle {
  margin-left: 3.5%;
}

.home .cont-homeTitle h1 {
  color: #f3482a;
  font-size: 30px;
  font-weight: 900;
}

.cont-dline hr {
  width: 5vw;
  height: 3px;
  background-color: rgb(153, 88, 88);
  border-color: rgb(153, 88, 88);
}

.cont-mobileParagraph {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  margin-left: 2vw;
  border: rgb(239, 237, 237) solid 2.5px;
  height: 10vh;
  margin-top: 3vh;
}

.cont-mobileParagraph p {
  font-size: 12px;
  color: #686666;
  width: 95%;
  margin-top: 1.7vh;
  margin-bottom: 1.7vh;
  margin-left: 2vw;
  font-weight: 400;
}

.cont-dateLocation {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.cont-programlecture p {
  color: #fff;
  width: 90%;
  margin-left: 2vw;
  margin-right: 0;
}

.cont-dateLocation p:first-child {
  color: #4c4b4b;
  font-size: 20px;
  font-weight: bold;
  margin-left: 4vw;
}

.cont-dateLocation p:last-child {
  color: #817e7e;
  font-size: 12px;
  margin-left: 4vw;
}

/* Main Program */
.main-program {
  display: flex;
  flex-direction: column;
  background-color: #32363f;
  background-image: url(img/bg-pattern.png);
}

.cont-mptitle {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.main-program .cont-dline {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.contDivision hr {
  background-color: rgb(248, 242, 242);
  border-color: rgb(248, 242, 242);
  width: 5vw;
}

.speakerTitle hr {
  width: 4vw;
  background-color: #8f3a33;
  border-color: #8f3a33;
  margin-top: 1vh;
  margin-left: 15.5vw;
}

.main-program .cont-dline hr {
  background-color: #8f3a33;
  border-color: #8f3a33;
  width: 8vw;
}

.cont-lecture {
  background-color: #42454c;
  opacity: 80%;
  display: flex;
  align-items: center;
  width: 95vw;
  margin-left: 2.5vw;
  margin-top: 1vh;
  height: 14vh;
}

.cont-lecture:hover {
  border: solid #fff;
}

.cont-imglecture {
  width: 22vw;
}

.cont-imglecture img {
  margin-left: 1vw;
}

.cont-lectureTitle {
  display: flex;
  width: 20vw;
  height: 9vh;
  align-items: center;
}

.cont-lectureTitle h6 {
  color: #ec4b32;
  font-size: 13px;
  margin-right: 7vw;
}

.cont-titleSpeakers h6 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 3vh;
}

.speakerTitle h6 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
}

.cont-lecture:nth-child(3) .cont-lectureTitle h6,
.cont-lecture:nth-child(5) .cont-lectureTitle h6 {
  margin-left: 2vw;
}

.cont-lecture:nth-child(4) .cont-lectureTitle h6 {
  margin-left: 1vw;
}

.cont-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 0;
}

body button {
  width: 94vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  border: 1px solid rgb(202, 195, 195);
  background-color: white;
  margin-top: 5vh;
  box-shadow: 0 1px 1px 1px rgb(193, 189, 189);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 3vh;
}

.cont-btn button {
  width: 72vw;
  height: 8vh;
  background-color: #ec4b32;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 26px;
  box-shadow: none;
}

/* ---------------------------Speakers Mobile------------------------ */

.speakers {
  width: 100vw;
}

.speakerTitle {
  position: absolute;
  left: 30vw;
  padding-top: 0;
}

.cont-titleSpeakers {
  display: flex;
  justify-content: center;
}

.cont-titleSpeakers div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.cont-titleSpeakers div:first-child hr {
  background-color: #8f3a33;
  border-color: #8f3a33;
  width: 8vw;
}

.speaker:nth-child(1n) {
  display: grid;
  grid-template-columns: auto 68%;
  grid-template-rows: repeat(4, auto);
  margin-top: 4vh;
}

.speaker:nth-child(2) {
  padding-top: 7vh;
}

.cont-image {
  grid-area: 1/1/5/2;
  width: 23vw;
  height: 18.83vw;
  padding-top: 3vh;
  margin-right: 0;
  padding-left: 5vw;
  background-image: url(img/checkers.jpeg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position-x: 3vw;
  background-position-y: 1vh;
}

/* First Image */

.speaker:nth-child(2) img {
  width: 23vw;
  height: 22.83vw;
}

/* Second Image */

.speaker:nth-child(3) img {
  width: 23vw;
  height: 23vw;
}

/* Third Image */

.speaker:nth-child(4) img {
  width: 23vw;
  height: 30.71vw;
}

/* Fourth Image */

.speaker:nth-child(5) img {
  width: 23vw;
  height: 30.71vw;
}

/* Fifth Image */

.speaker:nth-child(6) img {
  width: 23vw;
  height: 30.71vw;
}

.speaker:last-child img {
  width: 23vw;
  height: 28vw;
}

.cont-name {
  grid-area: 1/2/2/3;
  width: 70%;
  padding-top: 2.5vh;
  margin-left: 0;
}

.name {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  flex: 1;
}

.cont-position {
  grid-area: 2/2/3/3;
  width: 50%;
  margin-left: 0;
  margin-top: 0;
}

.speaker:nth-child(3) .cont-position {
  width: 80%;
}

.speaker:nth-child(5) .cont-position {
  width: 55%;
}

.speaker:nth-child(7) .cont-position {
  width: 80%;
}

.position {
  color: #ec4b32;
  font-size: 10px;
  line-height: 20px;
  padding-bottom: 0;
  flex: 1;
}

.contDivision {
  grid-area: 3/2/4/3;
  margin-top: 0;
  display: flex;
  margin-left: 0;
  padding-bottom: 3vh;
  width: 10%;
}

.speaker:nth-child(3) .contDivision {
  padding-bottom: 1vh;
}

.cont-text {
  grid-area: 4/2/5/3;
  width: 95%;
  margin-left: 0;
}

.text {
  font-size: 10px;
  line-height: 16px;
  flex: 1;
}

@media (max-width: 768px) {
  .cont-btn a {
    visibility: hidden;
  }

  .cont-desktopParagraph,
  .nav-ban,
  .cont-dline,
  .cont-partners {
    display: none;
  }

  .hamburger.active .bar:nth-child(1) {
    margin-top: 10px;
    margin-left: 80vw;
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    margin-top: 10px;
    margin-left: 80vw;
    transform: translateY(-16px) rotate(-45deg);
  }

  .nav-int.active {
    position: fixed;
    flex-direction: column;
    left: -5vh;
    transition: 0.3s;
    z-index: 1;
    width: 110vw;
    height: 100vh;
    padding-bottom: 10vh;
  }

  .nav-int.active .logo {
    position: absolute;
    top: 13vh;
    left: 23vw;
    z-index: 100;
    width: 20%;
  }

  .nav-int.active .ni-list {
    gap: 2vh;
    margin-top: -40vh;
    margin-left: 14vw;
  }

  header .nav-int ul.active {
    visibility: visible;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .hamburger,
  body button,
  .cont-btn button {
    display: none;
  }

  .cont-btn a {
    visibility: visible;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

  header .nav-int ul li a:nth-last-child() {
    padding: 0.5vw;
  }

  .nav-int img {
    margin-left: 10vw;
    width: 15%;
  }

  header .nav-int ul {
    visibility: visible;
  }

  .nav-ban {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 15%;
  }

  .home {
    background-position-x: 0;
    background-position-y: -100vh;
  }

  .cont-hello {
    margin-left: 12%;
  }

  .cont-hello h5 {
    font-size: 40px;
    font-weight: 500;
  }

  .cont-homeTitle {
    margin-left: 12%;
  }

  .home .cont-homeTitle h1 {
    font-size: 57px;
  }

  .cont-mobileParagraph {
    margin-left: 12%;
    height: 20vh;
    width: 50vw;
    padding: 40px;
  }

  .cont-mobileParagraph p {
    margin-left: 1vw;
    font-size: 24px;
    font-weight: 400;
    width: 45vw;
  }

  .cont-dateLocation {
    margin-left: 12%;
  }

  .cont-programlecture p {
    margin-left: 0;
  }

  .cont-dateLocation p:first-child {
    margin-left: 0;
    font-size: 25px;
  }

  .cont-dateLocation p:last-child {
    margin-left: 0;
    font-size: 15px;
  }

  /* --------------------Lecture Cards ------------------------ */

  .main-program {
    display: flex;
    flex-direction: column;
  }

  .contDivision hr {
    background-color: rgb(248, 242, 242);
    border-color: rgb(248, 242, 242);
    width: 2vw;
    height: 0.25vh;
    margin-left: 9vw;
  }

  .cont-titlepartner hr {
    background-color: #8f3a33;
    border-color: #8f3a33;
    width: 3vw;
    margin-left: 48.5vw;
  }

  .speakerTitle hr {
    width: 4vw;
    background-color: #8f3a33;
    border-color: #8f3a33;
    margin-top: 1vh;
    margin-left: 7.5vw;
  }

  .main-program .cont-dline hr {
    width: 3vw;
  }

  .cont-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .cont-lecture {
    width: 14vw;
    flex-direction: column;
    margin-left: 0.3vw;
    height: 30vh;
  }

  .cont-imglecture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cont-lectureTitle {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
  }

  .cont-lectureTitle h6 {
    margin: 0;
    font-size: 16px;
  }

  .cont-programlecture {
    width: 95%;
    margin-left: 5%;
  }

  .cont-btn {
    margin-top: 5vh;
    margin-bottom: 8vh;
  }

  .cont-titleSpeakers h6 {
    padding-top: 0;
  }

  /* --------------------Speakers Desktop --------------------- */

  .speakers {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(3, auto);
    padding-bottom: 0;
  }

  .speakerTitle {
    position: absolute;
    left: 41vw;
    padding: 0;
  }

  .speakerTitle h6 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 0;
  }

  .speaker:nth-child(2) {
    width: 35vw;
    margin-left: 10vw;
    grid-area: 1/1/2/2;
    margin-top: 14vh;
    padding-top: 0;
  }

  .speaker:nth-child(3) {
    width: 35vw;
    margin-left: -5vw;
    grid-area: 1/2/2/3;
    padding-bottom: 0;
    margin-top: 14vh;
  }

  .speaker:nth-child(4) {
    width: 35vw;
    margin-left: 10vw;
    grid-area: 2/1/3/2;
    padding-bottom: 0;
    margin-top: 0;
  }

  .speaker:nth-child(5) {
    width: 35vw;
    margin-left: -5vw;
    grid-area: 2/2/3/3;
    padding-bottom: 0;
    margin-top: 0;
  }

  .speaker:nth-child(6) {
    width: 35vw;
    margin-left: 10vw;
    grid-area: 3/1/4/2;
    padding-bottom: 0;
    margin-top: 0;
  }

  .speaker:last-child {
    width: 35vw;
    margin-left: -5vw;
    grid-area: 3/2/4/3;
    padding-bottom: 0;
    margin-top: 0;
  }

  .cont-image {
    width: 8vw;
    background-position-x: 4vw;
  }

  .image {
    width: 5.5vw;
    height: 6.72vw;
  }

  /* First Image */

  .speaker:nth-child(2) img {
    width: 10vw;
    height: 12.22vw;
  }

  /* Second Image */

  .speaker:nth-child(3) img {
    width: 10vw;
    height: 10vw;
  }

  /* Third Image */

  .speaker:nth-child(4) img {
    width: 10vw;
    height: 13.36vw;
  }

  /* Fourth Image */

  .speaker:nth-child(5) img {
    width: 10vw;
    height: 13.36vw;
  }

  /* Fifth Image */

  .speaker:nth-child(6) img {
    width: 10vw;
    height: 13.36vw;
  }

  .speaker:last-child img {
    width: 10vw;
    height: 11vw;
  }

  .cont-position {
    margin-left: 5vw;
    margin-top: -5vh;
  }

  .speaker:nth-child(3) .cont-position {
    margin-left: 5vw;
    width: 25vw;
    margin-top: -5vh;
  }

  .speaker:nth-child(5) .cont-position {
    width: 18vw;
  }

  .speaker:last-child .cont-position {
    width: 26vw;
  }

  .cont-name {
    margin-left: 5vw;
  }

  .contDivision {
    margin-top: -6.5vh;
    margin-left: -4vw;
  }

  .speaker:nth-child(even) .contDivision {
    margin-top: -8vh;
  }

  .name {
    font-size: 24px;
    font-weight: 700;
  }

  .position {
    font-size: 16px;
    line-height: 20px;
  }

  .cont-text {
    width: 90%;
    margin-left: 5vw;
    margin-top: -10vh;
  }

  .speaker:nth-child(even) .cont-text {
    margin-top: -11vh;
  }

  .text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  .cont-partners {
    background-color: #414246;
  }

  .cont-titlepartner {
    display: flex;
    flex-direction: column;
    height: 12vh;
  }

  .cont-titlepartner h5 {
    font-size: 30px;
    font-weight: 400;
    color: #959597;
    padding-top: 3vh;
    margin-left: 46vw;
  }

  .cont-imgpartners3 {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3vh;
    margin-left: 10vw;
  }

  .cont-imgpartners3 img:first-child {
    width: 20%;
  }

  .cont-imgpartners3 img:nth-child(2),
  .cont-imgpartners3 img:nth-child(3),
  .cont-imgpartners3 img:nth-child(4),
  .cont-imgpartners3 img:nth-child(5) {
    width: 20%;
  }

  footer {
    background-color: #fff;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: auto;
    width: 100vw;
    flex-wrap: wrap;
    padding-top: 4vh;
    padding-bottom: 4vh;
    align-items: center;
  }

  footer div:first-child {
    grid-area: 1/1/2/2;
    width: 30vw;
    margin-left: 8vw;
  }

  footer div:first-child h6 {
    font-weight: 900;
    margin-left: 5vw;
    font-size: 22px;
  }

  footer div:last-child {
    grid-area: 1/2/2/3;
    width: fit-content;
    margin-left: 17vw;
  }

  footer div:last-child h6 {
    font-weight: 700;
    margin-left: 3vw;
    font-size: 14px;
  }
}
